[submodule "goddess-package"]
	path = goddess-package
	url = https://github.com/kcarloni/goddess-package.git
[submodule "g4sipm"]
	path = g4sipm
	url = https://github.com/kcarloni/g4sipm.git
[submodule "G4ScintKit.jl"]
	path = G4ScintKit.jl
	url = https://github.com/kcarloni/G4ScintKit.jl.git
